extends layout.pug

block main
    main#principal.container
        div.row
            div.col-sm-6#reporte(style="background-color:#FFC; overflow:scroll;")
                button.btn.btn-primary#btn_crear Crear
                table.table.table-bordered.table-hover
                    thead
                        tr
                            th &nbsp;
                            th Cedula
                            th Nombre
                            th E-mail
                    tbody(data-bind="foreach: clientes")
                        tr
                            td accion
                            td(data-bind="text: cedula")
                            td(data-bind="text: nombre")
                            td(data-bind="text: email")                           

            div.col-sm-6#formulario(style="background-color:#CCC;")
                form(action="\cliente")
                div.form-group
                    label(for="cedula") Cédula
                    input.form-control#cedula(type="number",name="cedula")
                div.form-group
                    label(for="direccion") Dirección
                    input.form-control#direccion(type="text",name="direccion")
                div.form-group
                    label(for="email") E-mail
                    input.form-control#email(type="email",name="email")
                div.form-group
                    label(for="nombre") Nombre
                    input.form-control#nombre(type="text",name="nombre")
                div.form-group
                    label(for="telefono") Teléfono
                    input.form-control#telefono(type="text",name="telefono")
                div.form-group
                    label(for="ciudad") Ciudad
                    input.form-control#ciudad(type="text",name="ciudad")    
                button.btn.btn-primary#crear(type="submit") Crear                                                        
                button.btn.btn-light#crear(type="submit") Cancelar 
    script(src="/static/js/clientes.js")