extends layout.pug

block main
  section.slider
    div#carouselExampleSlidesOnly.carousel.slide(data-bs-ride="carousel")
      div.carousel-inner
        div.carousel-item.active
          img.d-block.w-100(src="/static/imagenes/banner1_perro.jpg",alt="",height="500px")
        div.carousel-item
          img.d-block.w-100(src="/static/imagenes/banner2_perro.jpg",alt="",height="500px")
        div.carousel-item
          img.d-block.w-100(src="/static/imagenes/banner3_perrosygatos.jpg",alt="",height="500px")                    
